body {
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.cover {
    height: 100vh;
    width: 100vw;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#about {
    color: white;
    font-size: 5vmin;
    margin: 3vmin 3vmin 0 0;
}

#friday {
    color: white;
    font-size: 10vmin;
}

span {
    margin: 0;
    padding: 0;
}

.letter {
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
}

.letter:hover {
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
}

#f-letter:hover {
    color: royalblue;
}

#r-letter:hover {
    color: wheat;
}

#i-letter:hover {
    color: olivedrab;
}

#d-letter:hover {
    color: indianred;
}

#a-letter:hover {
    color: skyblue;
}

#y-letter:hover {
    color: plum;
}