@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');

body {
  font-family: "Noto Sans KR", sans-serif !important;
  height:95%;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    height:95%;
}

.banner {
   width: 100vw;
   height: 13%;
   display: grid;
   background-color: rgb(20, 20, 20);
   grid-template-columns: 2vw 90vw 10vw 2vw;
   align-content: center;
}

.title {
	font-weight: 600;
	font-size: 8vmin;
   color: white;
   justify-self: left;
   font-family: "Bebas Neue";
}

.about {
   justify-self: center;
   align-self: center;
   color: white;
   font-size: 1.5vmax;
   text-decoration:none;
   font-family: "Bebas Neue";
}

.main {
	font-weight: normal;
	font-size: 20px;
   text-align: left;
   padding: 10px;
   margin-top: 3%;
   height:75%;
}

.table {
   text-align: center;
}

.date {
   font-weight: bold;
	font-size: 30px;
   margin-bottom: 10px;
   float: left;
}

.btn {
    font-size: 50px;
    background-color: transparent;
    border: 0px;
    transition: all ease 0.3s;
}
.btn:hover {
    transform: scale( 1.3 );
}
.btn:focus {
   border: 0px;
   outline:none;
}

.txt {
    transition: all ease 0.3s;
}
.txt:hover {
    color: orangered;
    font-weight: bold;
}

.last_page {
   color: gray;
}

.control_box {
   display: flex;
   justify-content: center;
   align-items: center;
}

td:nth-child(1) {
   width: 10vmin;
   font-size: 3vmin;
}

td:nth-child(2) {   
   width: 30vmin;
   font-size: 3vmin;
}

td:nth-child(3) {   
   width: 30vmin;
   font-size: 3vmin;
}

td:nth-child(4) {   
   width: 6vmin;
   font-size: 3vmin;
}

td:nth-child(5) {   
   width: 20vmin;
   font-size: 3vmin;
}

.column-name {
   color: gray;
   font-size: 3vmin;
}