@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

::selection {
   background-color: green;
}

body {
  font-family: "Noto Sans KR", sans-serif !important;
  height:95%;
}

html {
  height:95%;
}

.title {
	font-weight: bold;
	font-size: 50px;
   text-align: center;
   background-color: black;
   color: white;
   display: table-cell; vertical-align: middle;
}

.banner {
   width: 100%;
   height: 15%;
   display: table;
}

.main {
	font-weight: normal;
	font-size: 20px;
   text-align: left;
   padding: 10px;
   margin-top: 5%;
   height:75%;
}

.table {
   text-align: center;
}

.date {
   font-weight: bold;
	font-size: 30px;
   margin-bottom: 10px;
   float: left;
}

.btn {
    font-size: 30px;
    background-color: transparent;
    border: 0px;
    transition: all ease 0.3s;
}
.btn:hover {
    transform: scale( 1.3 );
}

.txt {
    transition: all ease 0.3s;
}
.txt:hover {
    color: red;
    font-weight: bold;
}
